<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wishfulcloud.dataServ.common.mapper.CounterMapper" >
  
  <sql id="Base_Column_List" >
	    id as "id", 
	    count_key as "countkey",
	    tenant_code as "tenantCode", 
	    count_type as "countType", 
	    user_id as "userId", 
	    object_id as "objectId", 
	    count_value as "countValue", 
	    create_date as "createDate", 
	    update_date as "updateDate", 
	    remarks as "remarks", 
	    del_flag as "delFlag"
  </sql>
  
  <select id="getById" parameterType="java.lang.String" resultType="Counter">
    select 
    <include refid="Base_Column_List" />
    from counter
    where id = #{id} and del_flag = '0'
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from counter
    where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="Counter" >
    insert into counter (id,
    					 count_key,
    					 tenant_code, 
    					 count_type, 
    					 user_id, 
    					 object_id, 
    					 count_value, 
    					 create_date, 
    					 update_date, 
    					 remarks, 
     					 del_flag)
    			values (#{id},
    					#{countKey}, 
    					#{tenantCode}, 
    					#{countType}, 
      					#{userId}, 
      					#{objectId}, 
      					#{countValue}, 
      					#{createDate}, 
      					#{updateDate}, 
      					#{remarks}, 
      					#{delFlag})
  </insert>
  
 
  <update id="updateByPrimaryKeySelective" parameterType="Counter" >
    update counter
    <set >
      <if test="countKey != null">
      	count_key = #{countKey},
      </if>
      <if test="tenantCode != null" >
        tenant_code = #{tenantCode},
      </if>
      <if test="countType != null" >
        count_type = #{countType},
      </if>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId},
      </if>
      <if test="countValue != null" >
        count_value = #{countValue},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>